/* Customize Sidebar Color */
.customize .sidebar {
    /* background-color: #ac4142; */
    background-color: black;
  }
.customize .content a {
  color: #5681C5;
}

/* Post */
.customize .post-title,
.customize .post-title a {
  color: rgb(53, 51, 51);
}

.customize .post-tag {
  display: inline-block;
  margin-top: -.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  background-color: #F5F5F5;
  color: #276767;
  ;
}

.post-date {
  display: inline-block;
  margin-right: 2rem;
}

/* Relate Posts */
.customize .related-posts {
  padding-left: 0rem;
  list-style: none;
}
.customize .related-posts li a{
  color: #5D2E06;
}
.customize .related-posts li a:hover {
  color: #5D2E06;
  text-decoration: underline;
}

.customize .related-posts li a:focus {
  text-decoration: underline;
}

/* Images */
.customize .figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.customize .figure img {
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  margin: 20px;
}

.customize .figure .figcaption {
  display: block;
  text-align: center;
  font-size: small;
  font-weight: bold;
}

.customize .tagpage-tagtitle {
  color: #ac4142;
}